| {% extends 'layout.html' %}
| {% block body %}
.col-md-6.col-md-push-3
	.box.authorize
		.authorize__pictogram
			| {% if client.picture %}
			img.authorize__app-image(src="{{url_for('static', filename=client.picture|thumbnail('100x100', 'fit'))}}", alt='Appname')
			| 			{% else %}
			img.authorize__app-image_placeholder
			span.authorize__app-image_placeholder_icon
				i.fa.fa-4x.fa-question
			| 			{% endif %}
			img.authorize__person-image(src='{{gravatar}}', alt='Username')
			.authorize__pictogram__arrow
		h2.authorize__title Authorize Application
		p.authorize__blurb
			a(href='#') {{client.name}}
			|  would like permission to access your Blender ID
		p.authorize__info {{client.description}}
		form(action="{{ url_for('authorize') }}", method='post')
			.authorize__review
				h3 Review permissions
				ul
					li
						strong Personal Details
						br
						ul
							li Full Name
							li Email Address
					li
						strong Roles
						br
						ul
							li Blender Foundation Certified Trainer
							li Blender Network Membership
			input(type='hidden', name='client_id', value='{{ client.client_id }}')
			input(type='hidden', name='scope', value="{{ scopes|join(' ') }}")
			input(type='hidden', name='response_type', value='{{ response_type }}')
			| 		{% if state %}
			input(type='hidden', name='state', value='{{ state }}')
			| 		{% endif %}
			.btn-chooser.btn-chooser--center
				button.btn.btn-success(type='submit', name='confirm', value='yes')
					i.fa.fa-check
					|  Authorize
				button.btn(type='submit', name='confirm', value='no') No, thanks
		a.box__learn-more(href='http://oauth.net/') Learn more about OAuth
| {% endblock %}
