| {% extends 'layout.html' %}
| {% load gravatar %}
| {% block page_title %}
| {% if user.full_name %}
| {{user.full_name}}'s
| {% else %}
| Your
| {% endif %}
| Profile
| {% endblock %}
| {% block body %}
.container
	.row
		.col-md-12
			.bid-box-form
				.bid-box-user
					a.bid-box-user-avatar(href="{% url 'bid_main:index' %}")
						img(src='{% gravatar_url user.email 64 %}', title='Gravatar Profile Picture')
					.bid-box-user-info
						| {% if user.full_name %}
						h3 {{ user.full_name }}
						| {% else %}
						h3
							a.danger(href="{% url 'bid_main:profile' %}")
								| Your full name is not known
								a.btn.btn-danger(href="{% url 'bid_main:profile' %}")
									i.fa.fa-edit
						| {% endif %}

						p {{ user.email }}

				p
					| {% if user.full_name %}
					a.btn(href="{% url 'bid_main:profile' %}").
						#[i.fa.fa-edit] Edit Details
					| {% endif %}

				hr

				.bid-box-links
					a(href="{% url 'bid_main:password_change' %}")
						| Change Password
					a(href="{% url 'bid_main:switch_user' %}")
						| Not you? Log in as someone else


				| {% if not user.confirmed_at and config.SECURITY_CONFIRMABLE %}
				p
					a.btn.btn-warning(href="-- url_for_security('send_confirmation') --")
						i.fa.fa-envelope
						|  Please confirm your email address
				| {% endif %}


			// id__profile-details
			| {% if 'bfct_trainer' in user.role_names %}
			.box.id__profile-certification
				i.fa.fa-graduation-cap.backicon
				h3.id__profile-certification-title Blender Foundation Certified Trainer
				p
					| You're an official
					span.info  Blender Foundation Certified Trainer
					br
					| More details about your
					a(href='https://www.blender.org/certification')  certification
					|         {% if 'bfct_board' in user.role_names %}
					hr.width-full
				p.info
					i.fa.fa-graduation-cap
					|  BFCT Board Member{% if 'bfct_manager' in user.role_names %} &amp; Manager{% endif %}
				|         {% endif %}
				p
			|     {% endif %}

	.row
		.col-md-6
			.box.id__profile-subscriptions
				i.bf-cloud.backicon
				h3.id__profile-subscriptions-title Blender Cloud
				p
					| Visit your
					a(href='https://cloud.blender.org/settings/billing')  preferences
					|  for more details

		.col-md-6
			.box.id__profile-subscriptions
				i.bf-network.backicon
				h3.id__profile-subscriptions-title Blender Network
				p
					| Visit your
					a(href='https://www.blendernetwork.org/profile/edit')  profile settings
					|  for subscription details

| {% endblock %}
