| {% extends 'layout.html' %}
| {% load gravatar %}
| {% block page_title %}
| {% if user.full_name %}
| {{user.full_name}}'s
| {% else %}
| Your
| {% endif %}
| Profile
| {% endblock %}
| {% block body %}
.container
	.row
		.col-md-12
			.bid-box-form
				.bid-box-user
					| {% if user.full_name %}
					a(href="{% url 'bid_main:profile' %}")
						img(
							src='{% gravatar_url user.email 64 %}',
							title='Profile Picture',
							alt="Profile Picture")
					.bid-box-user-info
						a(href="{% url 'bid_main:profile' %}")
							h3 {{ user.full_name }}
						p {{ user.email }}
					| {% else %}
					a.bid-box-user-missing(href="{% url 'bid_main:profile' %}")
						i.fa.fa-exclamation
					.bid-box-user-info
						h3
							a.danger(href="{% url 'bid_main:profile' %}")
								| Please specify your full name
						p {{ user.email }}
					| {% endif %}


				.bid-box-cta
					| {% if not user.confirmed_at and config.SECURITY_CONFIRMABLE %}
					a.btn.btn-warning-filled(href="-- url_for_security('send_confirmation') --")
						i.fa.fa-envelope
						| Please confirm your email address
					hr
					| {% endif %}

					a.btn(href="{% url 'bid_main:profile' %}").
						#[i.fa.fa-edit] Profile Details

					a.btn(href="{% url 'bid_main:password_change' %}").
						#[i.fa.fa-shield] Change Password

				hr

				.bid-box-links
					a(href="{% url 'bid_main:switch_user' %}")
						| Not you? Log in as someone else



	.bid-
		| {% if 'bfct_trainer' in user.role_names %}
		.box.id__profile-certification
			h3.id__profile-certification-title
				i.fa.fa-graduation-cap
				| Blender Foundation Certified Trainer
			p
				| You're an official
				span.info  Blender Foundation Certified Trainer
				br
				| More details about your
				a(href='https://www.blender.org/certification')  certification
				| {% if 'bfct_board' in user.role_names %}
				hr.width-full
				| BFCT Board Member
				| {% if 'bfct_manager' in user.role_names %} &amp; Manager{% endif %}
				| {% endif %}
		| {% endif %}

		.box.id__profile-subscriptions
			h3.id__profile-subscriptions-title
				i.bf-cloud
				| Blender Cloud
			p
				| Visit your
				a(href='https://cloud.blender.org/settings/billing')  preferences
				|  for more details

		.box.id__profile-subscriptions
			h3.id__profile-subscriptions-title
				i.bf-network
				| Blender Network
			p
				| Visit your
				a(href='https://www.blendernetwork.org/profile/edit')  profile settings
				|  for subscription details

| {% endblock %}
