| {% load static from staticfiles %}
doctype
html(lang="en")
	head
		meta(charset="utf-8")
		title {% block page_title %}Home{% endblock %} - Blender ID - blender.org
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(name='description', content='The Blender ID is a unified login system for all services around Blender.')
		meta(name='author', content='Blender Foundation')

		link(href="{% static 'assets_vendor/css/bootstrap.min.css' %}", rel='stylesheet')
		link(href='//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', rel='stylesheet')
		link(href="{% static 'assets/css/main.css' %}", rel='stylesheet')

		link(rel="shortcut icon", href="{% static 'assets_shared/images/favicon.ico' %}")

		| {% block header %}
		| {% endblock %}
	body
		| {% block modal %}
		| {% endblock %}
		header.navbar.navbar-default.navbar-primary(role="navigation")
			.container
				.navbar-header
					button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-collapse-menu')
						span.sr-only Toggle navigation
						i.fa.fa-bars
					a.navbar-logo-blender(href='https://www.blender.org')

				nav#navbar-collapse-menu.collapse.navbar-collapse
					ul.nav.navbar-nav.navbar-right
						li
							a(href='https://www.blender.org/features/') Features
						li
							a(href='https://www.blender.org/download/') Download
						li
							a(href='https://www.blender.org/support/') Support
						li
							a(href='https://www.blender.org/get-involved/') Get Involved
						li
							a(href='https://www.blender.org/about/') About
						li
							a(href='https://www.blender.org/donate/') Donate
						li
							a(href='https://store.blender.org/') Store

		| {% for message in messages %}
		.alert.alert-info(class="{{ message.tags }}")
			.container
				| {{ message }}
				button.close(type='button', data-dismiss='alert')
					i.fa.fa-times
		| {% endfor %}

		.container-main
			.featured
				h1 Blender ID
				.featured-overlay

			| {% if user.is_authenticated %}
			header.navbar.navbar-default.navbar-secondary(role="navigation")
				.container
					ul.nav.navbar-nav.navbar-left
						li(class="{% if page_id == 'index' %}active{% endif %}")
							a(href="{% url 'bid_main:index' %}") Dashboard

						li(class="{% if page_id == 'about' %}active{% endif %}")
							a(href="{% url 'bid_main:about' %}") About Blender ID

						| {% if user.is_staff %}
						li
							a(href="{% url 'admin:index' %}")
								i.fa.fa-rocket
								| Whoosh!
						| {% endif %}

						li
							a(href="{% url 'bid_main:logout' %}")
								i.fa.fa-power-off
								| Log out
				| {% endif %}

			| {% block nav_thirdlevel %}{% endblock %}

			| {% block body %}{% endblock %}

		.footer-navigation
			.container
				.row
					.col-md-2.col-xs-4
						a.sitemap-title(href='https://www.blender.org/download/') Blender
						ul
							li
								a(href='https://www.blender.org/download/', title='Download Blender') Download
							li
								a(href='https://www.blender.org/features/', title='Blender Features') Features
							li
								a(href='https://developer.blender.org/diffusion/B/', title='Source Code') Source
							li
								a(href='https://www.blender.org/about/license/', title='License') License
					.col-md-2.col-xs-4
						a.sitemap-title(href='https://www.blender.org/foundation/') Organization
						ul
							li
								a(href='https://www.blender.org/foundation/', title='Blender Foundation') Foundation
							li
								a(href='https://www.blender.org/institute/', title='Blender Institute') Institute
							li
								a(href='https://www.blender.org/conference/', title='Conference') Conference
							li
								a(href='https://www.blendernetwork.org', title='The Network of Blender Professionals') Blender Network
					.col-md-2.col-xs-4
						a.sitemap-title(href='https://www.blender.org/get-involved/') Get Involved
						ul
							li
								a(href='https://www.blender.org/foundation/donation-payment/', title='Donations') Donations
							li
								a(href='https://www.blender.org/get-involved/developers/', title='Development') Development
							li
								a(href='https://www.blender.org/get-involved/documenters/', title='Documenters') Documenters
							li
								a(href='https://www.blender.org/get-involved/', title='Education') Education
					.col-md-2.col-xs-4
						a.sitemap-title(href='https://www.blender.org/community/') Support
						ul
							li
								a(href='https://www.blender.org/community/', title='Community') Community
							li
								a(href='https://docs.blender.org/manual/en/dev/', title='Manual') Manual
							li
								a(href='https://www.blender.org/support/tutorials/', title='Tutorials') Tutorials
							li
								a(href='https://docs.blender.org/api/current/', title='Python API') Python API
					.col-md-2.col-xs-4
						a.sitemap-title(href='https://www.blender.org/about/website/') blender.org
						ul
							li
								a(href='https://www.blender.org/news/', title='News') News
							li
								a(href='https://www.blender.org/foundation/', title='Contact') Contact
							li
								a(href='https://www.blender.org/about/logo/', title='Logo & Trademark') Logo & Trademark
					.col-md-2.col-xs-12
						span.sitemap-title Follow Blender
						.social-icons
							a.social-icons__youtube(href='https://youtube.com/BlenderFoundation', title="Blender's Official YouTube channel")
								i.fa.fa-youtube-play
							a.social-icons__facebook(href='https://www.facebook.com/YourOwn3DSoftware/', title='Follow Blender on Facebook')
								i.fa.fa-facebook-official
							a.social-icons__twitter(href='https://twitter.com/blender_org', title='Follow Blender on Twitter')
								i.fa.fa-twitter

		footer
			span
				| Artistic freedom starts with Blender #[i.fa.fa-heart-o] The Free and Open Source 3D Creation Suite
				a(href='https://www.blender.org') blender.org

			#hop(title='Be awesome in space')
				i.fa.fa-angle-up

		script.
			var hop = document.getElementById("hop");
			hop.onclick = function(e){ window.scrollTo(0, 0);}
			window.addEventListener("scroll", function() {
			if (window.pageYOffset > 250){ hop.className = 'active'; } else {	hop.className = ''; }
			});

		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')

		| {% block footer_scripts %}{% endblock %}

		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			ga('create', '{{config.GOOGLE_ANALYTICS_TRACKING_ID}}', '{{config.GOOGLE_ANALYTICS_DOMAIN}}');
			ga('require', 'displayfeatures');
			ga('send', 'pageview');
