| {% load static from staticfiles %}
doctype
html(lang="en")
	head
		meta(charset="utf-8")
		title {% block page_title %}Home{% endblock %} - Blender ID - blender.org
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(name='description', content='')
		meta(name='author', content='')

		link(href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css', rel='stylesheet')
		link(href='//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css', rel='stylesheet')
		link(href="{% static 'assets/css/main.css' %}", rel='stylesheet')

		| {% block header %}
		| {% endblock %}
	body.transition-none
		| {% block modal %}
		| {% endblock %}
		header.navbar.navbar-default.navbar-fixed-top.bright#hop
			.container
				.navbar-header
					button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-collapse-menu')
						span.sr-only Toggle navigation
						i.fa.fa-bars
					a.logo(href='http://www.blender.org')
				nav#navbar-collapse-menu.collapse.navbar-collapse
					ul.nav.navbar-nav.navbar-right
						li
							a(href='https://www.blender.org/features/') Features
						li
							a(href='https://www.blender.org/download/') Download
						li
							a(href='https://www.blender.org/support/') Support
						li
							a(href='https://www.blender.org/get-involved/') Get Involved
						li
							a(href='https://www.blender.org/about/') About
						li
							a(href='https://www.blender3d.org/e-shop/') Store
		| {% for message in messages %}
		.alert.alert-info(class="{{ message.tags }}")
			.container
				| {{ message }}
				button.close(type='button', data-dismiss='alert')
					i.fa.fa-times
		| {% endfor %}
		.container-main
			.container-fluid.featured.featured-sm
				.container
					h1 Blender ID
			header.navbar.navbar-default.navbar-secondlevel.navbar-static-top
				.container.relative
					ul.nav.navbar-nav.navbar-left
						| {% if user.is_authenticated %}
						li(class="{% if page_id == 'index' %}active{% endif %}")
							a(href="{% url 'bid_main:index' %}") Dashboard
						| {% endif %}
						li(class="{% if page_id == 'about' %}active{% endif %}")
							a(href="{% url 'bid_main:about' %}") About
						| {% if user.is_staff %}
						li
							a(href="{% url 'admin:index' %}")
								i.fa.fa-rocket
								=' Whoosh!'
						| {% endif %}
						| {% if user.is_authenticated %}
						li.dropdown.absolute.right
							a.dropdown-toggle(href='javascript:void();', data-toggle='dropdown') {{user.email}}
								b.caret
							ul.dropdown-menu.right
								li
									a(href="{% url 'bid_main:logout' %}")
										i.fa.fa-power-off
										|  Log out
						| {% else %}
						li.absolute.right
							a(href="{% url 'bid_main:login' %}")
								i.fa.fa-sign-in
								|  Sign in
						| {% endif %}

			| {% block nav_thirdlevel %}{% endblock %}

			.container
				.row
					.col-md-12
						| {% block body %}{% endblock %}

		#footer-navigation

			.container
				.row
					.col-md-3.col-xs-6.margin-top-1
						h4 Blender
						ul
							li
								a(href='https://www.blender.org/download/', title='Download Blender') Download
							li
								a(href='https://www.blender.org/download/#source', title='Source Code') Source Code
							li
								a(href='https://www.blender.org/features/', title='Blender Features') Features
							li
								a(href='https://wiki.blender.org/index.php/Doc:2.6/Manual', title='Blender Documentation') Documentation
					.col-md-3.col-xs-6.margin-top-1
						h4 Organization
						ul
							li
								a(href='https://www.blender.org/foundation/', title='Blender Foundation') Foundation
							li
								a(href='https://www.blender.org/institute/', title='Blender Institute') Institute
							li
								a(href='https://www.blender.org/get-involved/developers/', title='Developers') Developers
							li
								a(href='https://www.blendernetwork.org', title='The Network of Blender Professionals')
									i.bf-network
									|  Blender Network
					.col-md-3.col-xs-6.margin-top-1
						h4 Get Involved
						ul
							li
								a(href='https://www.blender.org/foundation/donation-payment/') Donations
							li
								a(href='https://www.blender.org/get-involved/developers/') Software
							li
								a(href='https://www.blender.org/get-involved/') Websites & Docs
							li
								a(href='http://www.blender.org/conference/') Conferences
					.col-md-3.col-xs-12.margin-top-1
						h4 Blender.org
						ul
							li
								a(href='https://www.blender.org/news/') News
							li
								a(href='https://www.blender.org/foundation/') Contact
							li
								a(href='https://www.blender.org/about/logo/') Trademark & Logo
							li
								a(href='https://www.blender.org/about/website/') Website License

		footer
			.container
				.pull-right
					p
						| Blender.org
						a(href='#hop')
							i.fa.fa-angle-up

		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
		script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
		script(type='text/javascript').
			$(window).load(function() {$("body").removeAttr("class"); /* Avoid transitions jump on load */});
		|     {% block footer_scripts %}{% endblock %}
		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			ga('create', '{{config.GOOGLE_ANALYTICS_TRACKING_ID}}', '{{config.GOOGLE_ANALYTICS_DOMAIN}}');
			ga('require', 'displayfeatures');
			ga('send', 'pageview');
