| {% extends 'layout.html' %}
| {% load gravatar %}
| {% block page_title %}Switch Blender ID user{% endblock %}
| {% block body %}
.container
	.row
		.col-md-12
			.bid-box-form
				ul.about-icons
					li
						i.bf-cloud
					li
						i.bf-blender
					li
						i.bf-network

				p You are currently logged in as

				.bid-box-user
					| {% if user.full_name %}
					a(href="{% url 'bid_main:index' %}")
						img(
							src='{% gravatar_url user.email 64 %}',
							title='Profile Picture',
							alt="Profile Picture")
					.bid-box-user-info
						a(href="{% url 'bid_main:index' %}")
							h3 {{ user.full_name }}
						p {{ user.email }}
					| {% else %}
					a.bid-box-user-missing(href="{% url 'bid_main:profile' %}")
						i.fa.fa-exclamation
					.bid-box-user-info
						h3
							a.danger(href="{% url 'bid_main:profile' %}")
								| Please specify your full name
						p {{ user.email }}
					| {% endif %}

				hr

				h2 Login as someone else

				form(role='login', action='', method='POST', name='login_user_form')
					| {% csrf_token %}
					fieldset
						// Email input
						.input-group
							span.input-group-addon
								i.fa.fa-envelope-o
							| {{ form.username }}

						// Password input
						.input-group
							span.input-group-addon
								i.fa.fa-unlock-alt
							| {{ form.password }}

						| {% if form.errors %}
						p.text-danger Your username and password didn't match. Please try again.
						p
							a(href="{% url 'bid_main:password_reset' %}") Lost your password?
						| {% endif %}

						.input-cta
							button.btn-success#register Sign in

					hr

					.bid-box-links
						a(href="{% url 'bid_main:register' %}")
							| Create a new account
						a(href="{% url 'bid_main:password_reset' %}")
							| Recover password

| {% endblock %}
