| {% extends "oauth2_provider/base.html" %}
| {% load i18n gravatar %}

| {% block page_title %}Authorize Application{% endblock %}

| {% block content %}
.bid.box
	.row
		.col-md-8.col-md-offset-2
			.bid-header
				ul.bid-icons
					li
						i.fa.fa-exchange
				h1 Connect Your Blender ID

			hr

			| {% if not error %}
			form#authorizationForm(method="post")
				h3 {% trans "Authorize" %} {{ application.name }}?
				| {% csrf_token %}

				| {% for field in form %}
				|	{% if field.is_hidden %}
				|		{{ field }}
				|	{% endif %}
				| {% endfor %}

				.row
					p {% trans "The application would obtain your following information:" %}

					.col-md-10.col-md-offset-1

						ul.text-left
							li Full Name
							li Email Address

						//- ul.text-left
						//- 	| {% for scope in scopes_descriptions %}
						//- 	li {{ scope }}
						//- 	| {% endfor %}

				| {{ form.errors }}
				| {{ form.non_field_errors }}

				hr

				.bid-cta
					button.btn.btn-primary(type="submit",name="allow",value='true')
						i.fa.fa-check
						| Yes, Authorize

					a.btn(href="{% url 'bid_main:index' %}")
						i.fa.fa-times
						| Cancel
			| {% else %}

			h2 Error: {{ error.error }}
			p {{ error.description }}

			| {% endif %}

| {% endblock %}
