| {% extends "oauth2_provider/base.html" %}
| {% load i18n gravatar %}
| {% block content %}
.container
	.row
		.col-md-6.col-md-push-1
			.box
				| {% if not error %}
				form#authorizationForm(method="post")
					h3.block-center-heading {% trans "Authorize" %} {{ application.name }}?
					| {% csrf_token %}

					| {% for field in form %}
					|	{% if field.is_hidden %}
					|		{{ field }}
					|	{% endif %}
					| {% endfor %}

					p {% trans "The application would obtain the following information:" %}
					ul
						li Full Name
						li Email Address

					//- ul
					//- 	| {% for scope in scopes_descriptions %}
					//- 	li {{ scope }}
					//- 	| {% endfor %}

					| {{ form.errors }}
					| {{ form.non_field_errors }}

					.control-group
						.controls
							p
								input.btn.btn-large(type="submit",value="Cancel")
								input.btn.btn-large.btn-primary(type="submit",value="Authorize",name="allow")
				| {% else %}
				h2 Error: {{ error.error }}
				p {{ error.description }}
				| {% endif %}
		.col-md-4.col-md-push-1
			.box
				h3 You are logged in as:
				.bid-box-user
					p
						a.bid-box-user-avatar(href="{% url 'bid_main:index' %}")
							img(src='{% gravatar_url user.email 64 %}', title='Gravatar Profile Picture')
					.bid-box-user-info
						| {% if user.full_name %}
						p {{ user.full_name }}
						| {% else %}
						p
							a.danger(href="{% url 'bid_main:profile' %}")
								| Your full name is not known
						| {% endif %}
						p {{ user.email }}
| {% endblock %}
