| {% extends 'layout.html' %}
| {% block page_title %}Your Profile -- Blender ID{% endblock %}
| {% block body %}
.container
	.row.profile
		.box.col-md-6.col-md-push-2
			h2 Your Profile
			form.margin-top-5(action='', method='POST')
				| {% csrf_token %}
				fieldset
					// Email display
					.input-group.input-group-lg.width-full
						span.input-group-addon
							i.fa.fa-envelope-o
						span.form-control {{user.email}}
						label.control-label E-mail (cannot be changed)
					.clearfix.margin-top-2
					// Full name input
					.input-group.input-group-lg.width-full
						span.input-group-addon
							i.fa.fa-user
						| {{ form.full_name }}
						label.control-label Full Name
						| {{ form.full_name.errors }}
					.clearfix.margin-top-2

					hr
					.form-group
						button.btn.btn-default.btn-squishy.width-full(type='submit')
							i.fa.fa-check
							| Update Profile
						a.btn.btn-squishy(href="{% url 'bid_main:index' %}")
							i.fa.fa-times
							| Cancel
					| {% if user.is_staff %}
					a(href="{% url 'admin:bid_main_user_change' user.id %}") Your account in the admin
					| {% endif %}
| {% endblock %}
