| {% extends 'layout.html' %}
| {% block page_title %}Your Profile -- Blender ID{% endblock %}
| {% block body %}
.row
	.col-md-12
		.bid.box
			h3 Profile Details

			.row
				.col-md-8.col-md-offset-2
					form(action='', method='POST')
						| {% csrf_token %}
						fieldset
							// Full name input
							label.control-label Full Name
							.input-group
								span.input-group-addon
									i.fa.fa-user
								| {{ form.full_name }}
								| {{ form.full_name.errors }}

							// Email display
							label.control-label E-mail (cannot be changed)
							.input-group.disabled
								span.input-group-addon
									i.fa.fa-envelope-o
								span.form-control {{user.email}}

							.bid-cta
								button.btn.btn-success(type='submit')
									i.fa.fa-check
									| Update Profile
								a.btn(href="{% url 'bid_main:index' %}")
									i.fa.fa-times
									| Cancel

					| {% if user.is_staff %}
					hr
					.bid-links
						a(href="{% url 'admin:bid_main_user_change' user.id %}") Edit account in admin
					| {% endif %}
| {% endblock %}
