| {% extends 'layout.html' %}
| {% block page_title %}Registration{% endblock %}
| {% block body %}
.row.id
	.col-md-6.col-md-push-3
		.box
			h2 Thank you for registering!

			p We have sent you an e-mail with instructions to choose a password. This way we are 100% sure you have a valid e-mail address, and you're really you.

			p Please check your inbox for an e-mail from {{ settings.DEFAULT_FROM_EMAIL }}.

| {% endblock %}
