| {% extends 'layout.html' %}
| {% block page_title %}Registration{% endblock %}
| {% block body %}
.row.id
	.col-md-6
		.box
			h2 Thank you for registering!

			p We have sent you an e-mail with instructions to choose a password. This way we are 100% sure you have a valid e-mail address, and you're really you.

	.col-md-6.about__join
		.box
			.about__join-anonymous
				.vertical-align
					ul.about__join-icons
						li
							i.bf-cloud
						li
							i.bf-blender
						li
							i.bf-network
					h3
						| One account, everything Blender
| {% endblock %}