| {% extends 'layout.html' %}
| {% load trans from i18n %}
| {% load static from staticfiles %}
| {% block page_title %}Registration{% endblock %}
| {% block body %}
.container
	.row
		.col-md-8.col-md-push-2
			.box.padding-bottom-15px.padding-top-15px
				i.bf-blender.backicon
				form(role='register', action="", method='POST', name='register_user_form')
					| {% csrf_token %}
					.col-md-6
						fieldset
							// new_password1 input
							.input-group.input-group-lg.width-full
								span.input-group-addon
									i.fa.fa-lock
								| {{ form.new_password1 }}
								label.control-label(for="{{ form.new_password1.id_for_label }}") Password
								| {{ form.new_password1.errors }}
							.clearfix.margin-top-2
							// new_password2 input
							.input-group.input-group-lg.width-full
								span.input-group-addon
									i#password_match
								| {{ form.new_password2 }}
								label.control-label(for="{{ form.new_password2.id_for_label }}") Confirm password
								| {{ form.new_password2.errors }}
							.clearfix.margin-top-2
					.col-md-6
						.width-full.text-align-center.margin-top-5.margin-bottom-5
							h2
								| Get your own
								br
								| Blender ID
							// Button
							.control-group
								label.control-label(for='setpassword')
								.controls
									button.btn.btn-default.btn-lg.btn-squishy.width-75#setpassword Set password
							hr
							a(href="{% url 'bid_main:login' %}")
								i.fa.fa-angle-double-left
								|  Back to Login
| {% endblock %}
| {% block footer_scripts %}
script(src="{% static 'assets_shared/js/interactive.js' %}")
script.
	function password_match() {
		var pwd = $("#id_new_password1").val();
		var confirm_pwd = $("#id_new_password2").val();
		if (pwd != confirm_pwd)
			$("#password_match").html("<i class='fa fa-times'></i>");
		else
			$("#password_match").html("<i class='fa fa-check success'></i>");
	}
	$(function() {
		$("input[type='password']").keyup(password_match);
	});
| {% endblock %}
