| {% extends 'layout.html' %}
| {% load i18n %}
| {% block page_title %}Your Password -- Blender ID{% endblock %}
| {% block body %}
.container
	.row.profile
		.box.col-md-6.col-md-push-2
			i.backicon.fa.fa-lock
			h1 Change Your Password
			h3 Because change is good
			p {% trans 'Your password was changed.' %}

			a.btn.btn-squishy(href="{% url 'bid_main:index' %}")
				i.fa.fa-check
				| OK

| {% endblock %}
