| {% extends 'layout.html' %}
| {% load i18n %}
| {% block page_title %}Your Password -- Blender ID{% endblock %}
| {% block body %}
.container
	.row
		.col-md-8.col-md-offset-2
			.bid.box
				.row
					.col-md-8.col-md-offset-2
						.bid-header
							ul.bid-icons
								li
									i.fa.fa-shield
							h1 Because change is good

						hr

						p {% trans 'Your password was changed.' %}

						hr

						.bid-cta
							a.btn(href="{% url 'bid_main:index' %}")
								i.fa.fa-angle-double-left
								| Back to the Dashboard

| {% endblock %}
