| {% extends 'layout.html' %}
| {% from "security/_macros.html" import render_field_with_errors, render_login_field_with_errors, render_register_field_with_errors, render_field %}
| {% include "security/_messages.html" %}
| {% block page_title %}
| Welcome!
| {% endblock %}
| {% block header %}
| {% if login_user_form.requires_confirmation %}
script(src="{{ url_for('static', filename='assets/js/confirmation_email.js') }}")
| {% endif %}
| {% endblock %}
| {% block body %}
.container
	.row
		.col-md-8.col-md-push-2
			.box
				i.bf-blender.backicon
				form.margin-top-5(role='login', action="{{ url_for_security('login') }}", method='POST', name='login_user_form')
					| {{ login_user_form.hidden_tag() }}
					.col-md-6
						fieldset
							// Email input
							.input-group.input-group-lg.width-full(id='email_input_group')
								span.input-group-addon
									i.fa.fa-envelope-o
								| {{ render_login_field_with_errors(login_user_form.email, class='form-control', placeholder="E-mail") }}
								| {# requires_confirmation is set from NicerLoginForm.validate() #}
								| {% if login_user_form.requires_confirmation %}
								p
									button(onclick='send_confirm_mail("{{ url_for_security(\'send_confirmation\') }}"); return false;')
										| Send me a confirmation email
								| {% endif %}
								label.control-label Email
							.clearfix.margin-top-2
							// Password input
							.input-group.input-group-lg.width-full
								span.input-group-addon
									i.fa.fa-lock
								| {{ render_login_field_with_errors(login_user_form.password, class='form-control', placeholder="Password") }}
								label.control-label Password
							// Multiple Checkboxes (inline)
							.login-extra.margin-top-2
								.control-group
									label.control-label.remember.pull-left(for='remember')
										| {{ render_login_field_with_errors(login_user_form.remember) }}
										| Remember me
									a.pull-right.small(href="{{url_for_security('forgot_password')}}") forgot password?
								.clearfix
							| {{ render_field(login_user_form.next) }}
							.clearfix
					.col-md-6
						.width-full.text-align-center.margin-top-5.margin-bottom-5
							h2
								| One Account
								br
								| Everything Blender
							// Button
							.control-group
								label.control-label(for='signin')
								.controls.text-align-center
									| {{ render_field(login_user_form.submit, value="Sign In", class='btn btn-default btn-lg btn-squishy width-75') }}
							hr
							a.link(href="{{ url_for_security('register') }}") Don't have a Blender ID yet?

| {% endblock %}
