| {% extends 'layout.html' %}
| {% from "security/_macros.html" import render_field_with_errors, render_login_field_with_errors, render_register_field_with_errors, render_field %}
| {% include "security/_messages.html" %}
| {% block page_title %}
| Welcome!
| {% endblock %}
| {% block body %}
.container
	.row
		.col-md-8.col-md-push-2
			.box.padding-bottom-15px.padding-top-15px
				i.bf-blender.backicon
				form(role='login', action="{{ url_for_security('register') }}", method='POST', name='register_user_form')
					.col-md-6
						| {{ register_user_form.hidden_tag() }}
						fieldset
							// Full name input
							.input-group.input-group-lg.width-full
								input#full_name.form-control(name='full_name', type='text', value='', placeholder='Full Name')
								label.control-label Full Name
								| {% for error in register_user_form.full_name.errors %}
								span.error {{error}}
								| {% endfor %}
							.clearfix.margin-top-2
							// Email input
							.input-group.input-group-lg.width-full
								span.input-group-addon
									i.fa.fa-envelope-o
								input#email.form-control(name='email', type='email', value='', placeholder='E-mail')
								label.control-label Email
								| {% for error in register_user_form.email.errors %}
								span.error {{error}}
								| {% endfor %}
							.clearfix.margin-top-2
							// Password input
							.input-group.input-group-lg.width-full
								span.input-group-addon
									i.fa.fa-lock
								input#password.form-control(name='password', type='password', value='', placeholder='Password', onkeyup='password_match();')
								label.control-label Password
								| {% for error in register_user_form.password.errors %}
								span.error {{error}}
								| {% endfor %}
							.clearfix.margin-top-2
							// Retype Password input
							.input-group.input-group-lg.width-full
								span.input-group-addon
									#password_match
								input#password_confirm.form-control(name='password_confirm', type='password', value='', placeholder='Retype Password', onkeyup='password_match();')
								label.control-label Re-type Password
					.col-md-6
						.width-full.text-align-center.margin-top-5.margin-bottom-5
							h2
								| Get your own
								br
								| Blender ID
							// Button
							.control-group
								label.control-label(for='signin')
								.controls
									| {{ render_field(register_user_form.submit, value="Sign Up", class='btn btn-default btn-lg btn-squishy width-75') }}
							hr
							a(href="{{ url_for_security('login', next=config.APPLICATION_ROOT) }}")
								i.fa.fa-angle-double-left
								|  Back to Login
| {% endblock %}
| {% block footer_scripts %}
script(src="{{ url_for('static', filename='assets_shared/js/interactive.js') }}")
script.
	function password_match() {
		var pwd = $("#password").val();
		var confirm_pwd = $("#password_confirm").val();
		if (pwd != confirm_pwd)
			$("#password_match").html("<i class='fa fa-times'></i>");
		else
			$("#password_match").html("<i class='fa fa-check success'></i>");
	}
| {% endblock %}
