| {% extends 'layout.html' %}
| {% block page_title %}About Blender ID{% endblock %}

| {% block body %}
| {% block before_about_bid %}{% endblock %}
.bid.box.about
	.row
		.col-md-8.col-md-offset-2
			| {% if user.is_authenticated %}
			.text-center
				ul.bid-icons
					li
						i.bf-cloud
					li
						i.bf-blender
					li
						i.bf-network

				h1 One Account, Everything Blender

			hr
			| {% endif %}

			p
				h3 What is the Blender ID?

			p.
				The Blender ID is a unified login system that will give you access to
				a large number of services around Blender.

			p.
				With just one account you can set up a #[a(href='https://cloud.blender.org') Blender Cloud] subscription,
				manage your professional profile on #[a(href='https://www.blendernetwork.org') Blender Network],
				your BFCT application, #[a(href='https://www.blender.org/conference/') Blender Conference] talks,
				your purchases on the #[a(href='https://store.blender.org') Blender Store].

			p.
				You can also authenticate within Blender via the Blender ID add-on,
				and log in authorized third-party websites and much more.

| {% block after_about_bid %}{% endblock %}
| {% endblock %}
