| {% extends 'bid_main/about.html' %}
| {% load gravatar %}
| {% block page_title %}Log in to Blender ID{% endblock %}

| {% block before_about_bid %}
.bid.box
	ul.bid-icons
		li
			i.bf-cloud
		li
			i.bf-blender
		li
			i.bf-network

	h1 One Account, Everything Blender

	.row
		.col-md-8.col-md-offset-2
			form(role='login', action='', method='POST')
				| {% csrf_token %}
				fieldset
					// Email input
					.input-group
						span.input-group-addon
							i.fa.fa-envelope-o
						| {{ form.username }}

					// Password input
					.input-group
						span.input-group-addon
							i.fa.fa-unlock-alt
						| {{ form.password }}

					| {% if form.errors %}
					p.text-danger Your username and password didn't match. Please try again.
					p
						a(href="{% url 'bid_main:password_reset' %}") Lost your password?
					| {% endif %}

					.bid-cta
						button.btn-success#register Sign in

				hr

				.bid-links
					a(href="{% url 'bid_main:register' %}")
						| Create a new account
					a(href="{% url 'bid_main:password_reset' %}")
						| Recover password
| {% endblock %}
