| {% extends 'layout.html' %}
| {% load trans from i18n %}
| {% load static from staticfiles %}
//- | {% from "security/_macros.html" import render_field_with_errors, render_login_field_with_errors, render_register_field_with_errors, render_field %}
//- | {% include "security/_messages.html" %}
| {% block page_title %}
| Register your Blender ID
| {% endblock %}
| {% block body %}
.row
	.col-md-12
		.bid.box
			.row
				.col-md-8.col-md-offset-2
					.bid-header
						ul.bid-icons
							li
								i.bf-blender
						h1 Get Your Own Blender ID

					form(role='register', action="", method='POST', name='register_user_form')
						| {% csrf_token %}
						fieldset
							// Full name input
							label.control-label(for="{{ form.full_name.id_for_label }}") Full Name
							.input-group
								span.input-group-addon
									i.fa.fa-user
								| {{ form.full_name }}
							| {{ form.full_name.errors }}

							// Email input
							label.control-label(for="{{ form.email.id_for_label }}") E-mail
							.input-group
								span.input-group-addon
									i.fa.fa-envelope-o
								| {{ form.email }}
							| {{ form.email.errors }}

							p After registration, we will send you an email with instructions to set a password.

						.bid-cta
							button.btn.btn-success#register
								i.fa.fa-check
								| Create Account

							hr

							a(href="{% url 'bid_main:login' %}")
								i.fa.fa-angle-double-left
								|  Back to Login
| {% endblock %}
