@import url(//fonts.googleapis.com/css?family=PT+Sans+Narrow|Roboto)
@import url(../../assets_shared/css/font-borg.css)
@import ../../webstatic/assets_shared/styles/main.sass

header.navbar
	i
		padding-right: 10px
		font-size: .9em

	&.navbar-primary
		box-shadow: 1px 0 1px rgba(black, .5)

.bid-box
	&-user
		align-items: center
		display: flex
		justify-content: center
		text-align: left

		img
			border-radius: 6px

		&-info
			padding: 15px

			p
				color: $color-text-dark-secondary

			h3
				margin-top: 0


	&-info
		display: flex
		flex-direction: column
		font-size: 1.1em
		margin: 35px auto
		padding: 25px 15px

		h3
			font-size: 1.8em
			margin-top: 0

		a
			color: $color-text
			text-decoration: underline

			&:hover
				color: $color-primary

	&-links
		a
			padding: 10px
			font-size: .9em

	&-form
		background-color: lighten($color-background, 1%)
		box-shadow: 1px 1px 1px rgba(black, .2)
		display: flex
		flex-direction: column
		font-size: 1.1em
		margin: 10px auto 35px
		max-width: 700px
		padding: 15px 15px 25px
		text-align: center

		a
			text-decoration: underline

		h1
			margin: 0 auto 15px

		.input
			&-cta
				margin-top: 15px

				button
					max-width: 200px
					width: 100%

			&-group
				max-width: 400px
				margin: 10px auto
				box-shadow: 0 0 1px rgba(black, .2)
				border-radius: 6px
				overflow: hidden

				input
					flex: 1
					border-bottom: none

				&-addon
					align-items: center
					border-bottom: none
					display: flex
					justify-content: center
					padding: 0 20px

.about-icons
	li
		+text-gradient(25deg, rgba($color-primary, .8), cyan)
		color: $color-primary
		display: inline-block
		font-size: 4em
		margin: 10px 15px

		&:after
			content: ''


.id
	&__profile
		&-details
			&-avatar
				float: right
				margin: 15px

.application_row
	width: 2800%
	height: 100%
	top: 0
	left: 0
	position: absolute

.cke
	margin-top: 40px !important

.authorize
	padding: 20px

	&__pictogram
		display: table
		margin: 0 auto 15px
		position: relative

		img, .authorize__app-image_placeholder
			height: 100px
			width: 100px

		.authorize__app-image
			background: #7596d9
			margin-right: 20px

		.authorize__app-image_placeholder
			background: #7596d9
			margin-right: 20px

		.authorize__app-image_placeholder_icon
			position: absolute
			top: 20px
			left: 33px
			color: white

		.authorize__person-image
			background: #afd876

		.authorize__pictogram__arrow
			margin-top: -98px

			font-family: FontAwesome
			font-size: 70px
			color: white

			&:before
				display: table
				margin: 0 auto
				content: "\f07e"


	&__title
		margin-bottom: 10px !important
		text-align: center

	&__blurb
		max-width: 60%
		margin: 20px auto !important
		font-size: 16px

		text-shadow: none
		text-align: center

	&__info
		font-size: 13px
		color: #737373

	&__review
		padding: 20px 0
		margin-bottom: 20px

		border-top: 1px solid #dfdfdf
		border-bottom: 1px solid #dfdfdf

		h3
			margin: 0 0 10px 15px

		ul
			padding-left: 15px

		li
			margin-bottom: 5px

.btn-chooser
	padding-bottom: 20px

	.btn
		margin-right: 10px
		&:last-child
			margin-right: 0

	&--center
		display: table
		margin: 0 auto

.box__learn-more
	display: block
	font-size: 12px
	text-align: center

.profile.address .box
	padding: 15px

.profile.address .box h2
	padding: 0
	margin: 0

.errorlist
	color: $color_danger
	margin-top: 0.5em

.nav>li
	white-space: nowrap

@media (min-width: 991px)
	.box.decent-height
		min-height: 400px

.box.centre-all
	vertical-align: middle
	text-align: center
